<!DOCTYPE html>
<html xml:lang="pt">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Página não encontrada - COEUS</title>
		<link rel="stylesheet" href="/media/css/style.css" type="text/css" />        
      		<link rel="shortcut icon" href="/media/images/favicon.png" type="image/x-icon" /> 
                <script src="/media/Scripts/jquery-1.7.2.min.js" ></script>
                <script>
                                $(document).ready(function() {
                                        $(".page").css("min-height", screen.height + "px");
                            });
                </script>

                 <script type="text/javascript">

                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-34174132-1']);
                _gaq.push(['_trackPageview']);

                (function() {
                        var ga = document.createElement('script');
                        ga.type = 'text/javascript';
                        ga.async = true;
                        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();

                </script>

	</head>
	<body>
		<div class="page">
			<div class="header">
				<a href="/" id="logo"><img src="/media/images/marca.png" alt=""/></a>
			</div>
			<div class="body">            	               
				<div class="textSection">
				<h2> Internal Server Error</h2>
				<p> Este servidor encontrou um erro interno ou um erro de configuração
					 e está indisponível para completar a sua requisição. Por favor contate 
					o administrador do servidor, contato@coeus.com.br e informe-o quando o
			 erro aconteceu e qualquer coisa que você tenha feito que possa ter causado o erro. </p>
				<ul class="linklist">
                    <li><a href="/">Ir à página principal</a></li>
                    <li><a href="/blog/">Visitar o nosso blog</a></li>
                    <li><a href="/areas-de-atuacao/">Conhecer mais sobre nossas áreas de atuação</a></li>
                </ul>
                </div>               							
			</div>
			<div class="footer">				
				<div id="Contato">
                	<p id="icoLinks">
						<a target="_blank" href="http://facebook.com/CoeusIT"><img src="/media/images/facebook.png"></a>
						<a target="_blank" href="http://twitter.com/coeusti"><img src="/media/images/twitter.png"></a>
                        <a target="_blank" href="http://www.linkedin.com/company/2689286"><img src="/media/images/linkedinfooter.png"/></a>
					</p>
                    <p> contato@coeus.com.br - (81) 3483-4349</p>                	
                	<p> Av. Prof. Luiz Freire, 700, Bloco C, Sala 24, CDU - Recife-PE</p>	                
                	<p> &#169; 2012. Coeus</p>               				                					
				</div>
			</div>
		</div>
	</body>
</html>  
